{% extends 'base.html' %}
{% block extra_css %}


.content {
position: absolute;
font-size: 1.8vw;
background-color: white;
width: 100%;
top: 14.7vw;
height: 49.1vw;
z-index: -2;
text-align: center;
font-family: Arial, sans-serif;

}

.container_first {
  background-color: transparent;
  position: absolute;
  top: 15%;
  left: 48.9%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 35%;
}

.first-field {
  position: relative;
  width: 100%;
  height: 4vw;
  border: .1vw solid black;
  border-radius: 1vw;
  outline: none;
  font-size: 120%;
  margin-top: 2vw;
  padding-left: 2vw;
}
.container_last {
  background-color: transparent;
  position: absolute;
  top: 30%;
  left: 48.9%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 35%;
}

.last-field {
  position: relative;
  width: 100%;
  height: 4vw;
  border: .1vw solid black;
  border-radius: 1vw;
  outline: none;
  font-size: 120%;
  margin-top: 2vw;
  padding-left: 2vw;
}

.container_email {
  background-color: transparent;
  position: absolute;
  top: 45%;
  left: 48.9%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 35%;
}

.email-field {
  position: relative;
  width: 100%;
  height: 4vw;
  border: .1vw solid black;
  border-radius: 1vw;
  outline: none;
  font-size: 120%;
  margin-top: 2vw;
  padding-left: 2vw;
}

.container_password {
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 48.9%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 35%;
}

.password-field {
  position: relative;
  width: 100%;
  height: 4vw;
  border: .1vw solid black;
  border-radius: 1vw;
  outline: none;
  font-size: 120%;
  margin-top: 2vw;
  padding-left: 2vw;
}


.container_login {
  background-color: transparent;
  position: absolute;
  height: 6vw;
  top: 80%;
  left: 50%;
  width: 37.2%;
  transform: translate(-50%, -50%);

  font-size: 140%;
  font-weight: bold;
  border: .1vw solid black;
  border-radius: 1vw;
  outline: none;
  background-color: #f3bda1;
}


.centered {
  z-index: 1;
  position: absolute;
  top: 2%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.container_bottom {
  background-color: transparent;
  position: absolute;
  height: 6vw;
  top: 93%;
  left: 50%;
  width: 37.2%;
  transform: translate(-50%, -50%);
  outline: none;
  text-align: left;
}

@media screen and (min-height: 71vw) {
    .bottom {
        position: fixed;
        width: 100%;
        height: 9.8vw;
        background-color: gray;
        top: 100%;
        margin-top:-9.8vw;
        margin-bottom:9.8vw;
        margin-left: 0px;
        margin-right: 0px;
    }
}

{% endblock %}
{% block content %}
<div class="content">
    <h3  class="centered" style="font-weight: bold">CREATE ACCOUNT</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div>
              {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
          </div>
      {% endif %}
      {% endwith %}
    <form action="/signup" method="POST" class="form">

        <div class="container_first">
            <input type="text" name="first_name" placeholder="First Name" class="first-field" />
        </div>

        <div class="container_last">
            <input type="text" name="last_name" placeholder="Last Name" class="last-field" />
        </div>

      <div class="container_email">
        <input type="email" name="email" placeholder="Email" class="email-field" />
      </div>

      <div class="container_password">
        <input type="password" name="password" placeholder="Password" class="password-field" />
      </div>


      <button class="container_login">SIGN UP</button>

      <div class="container_bottom">
        <p style="font-size: 1vw;">Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
      </div>
      
    </form>
    <div class="bottom"></div>
</div>

{% endblock %}